In [1]:
import pandas as pd

# Data dictionary
data = {
    "Material": [
        "Polyester Recycled", "Total Polyester Use",
        "Cotton Organic", "Cotton Recycled", "Cotton Third-Party Certified", "Total Cotton Use",
        "Rubber Recycled", "Total Rubber Use",
        "EVA Foam Recycled", "Total EVA Foam Use",
        "Leather Flyleather", "Leather Synthetic Leather", "Total Leather Use"
    ],
    "FY20 Metric Tons": [44387, 195490, 10811, 503, 85139, 113615, 564, 76141, 978, 61053, 53, 18623, 51646],
    "FY20 %": [23, None, 10, 0.4, 75, None, 0.7, None, 2, None, 0.1, 36, None],
    "FY21 Metric Tons": [55477, 166343, 13680, 905, 66776, 115543, 689, 78896, 907, 53055, 57, 16031, 60502],
    "FY21 %": [33, None, 12, 0.8, 58, None, 0.9, None, 2, None, 0.1, 26, None],
    "FY22 Metric Tons": [82317, 180645, 17748, 867, 94417, 142113, 2045, 94494, 2648, 44523, 13, 18117, 65870],
    "FY22 %": [46, None, 12, 0.6, 66, None, 2, None, 0.1, None, 0.02, 28, None],
}

# Convert to DataFrame
nike_data = pd.DataFrame(data)

nike_data

,Material,FY20 Metric Tons,FY20 %,FY21 Metric Tons,FY21 %,FY22 Metric Tons,FY22 %
0,Polyester Recycled,44387,23.0,55477,33.0,82317,46.00
1,Total Polyester Use,195490,NaN,166343,NaN,180645,NaN
2,Cotton Organic,10811,10.0,13680,12.0,17748,12.00
3,Cotton Recycled,503,0.4,905,0.8,867,0.60
4,Cotton Third-Party Certified,85139,75.0,66776,58.0,94417,66.00
5,Total Cotton Use,113615,NaN,115543,NaN,142113,NaN
6,Rubber Recycled,564,0.7,689,0.9,2045,2.00
7,Total Rubber Use,76141,NaN,78896,NaN,94494,NaN
8,EVA Foam Recycled,978,2.0,907,2.0,2648,0.10
9,Total EVA Foam Use,61053,NaN,53055,NaN,44523,NaN
10,Leather Flyleather,53,0.1,57,0.1,13,0.02
11,Leather Synthetic Leather,18623,36.0,16031,26.0,18117,28.00
12,Total Leather Use,51646,NaN,60502,NaN,65870,NaN

In [2]:
nike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Material          13 non-null     object
 1   FY20 Metric Tons  13 non-null     int64
 2   FY20 %            8 non-null      float64
 3   FY21 Metric Tons  13 non-null     int64
 4   FY21 %            8 non-null      float64
 5   FY22 Metric Tons  13 non-null     int64
 6   FY22 %            8 non-null      float64
dtypes: float64(3), int64(3), object(1)
memory usage: 860.0+ bytes

In [3]:
nike_data.describe()

,FY20 Metric Tons,FY20 %,FY21 Metric Tons,FY21 %,FY22 Metric Tons,FY22 %
count,13.000000,8.000000,13.000000,8.000000,13.000000,8.000000
mean,50692.538462,18.400000,48373.923077,16.600000,57370.538462,19.340000
std,57441.624531,26.311812,51057.643415,20.955667,58904.505864,25.105735
min,53.000000,0.100000,57.000000,0.100000,13.000000,0.020000
25%,978.000000,0.625000,907.000000,0.875000,2648.000000,0.475000
50%,44387.000000,6.000000,53055.000000,7.000000,44523.000000,7.000000
75%,76141.000000,26.250000,66776.000000,27.750000,94417.000000,32.500000
max,195490.000000,75.000000,166343.000000,58.000000,180645.000000,66.000000

From here we see that polyester is the main fabric used by Nike

In [5]:
#Let's see totals: for this, we need to make a df with rows containing 'total' only
nike_totals = nike_data[nike_data['Material'].str.contains('total', case=False, na=False)]
nike_totals

,Material,FY20 Metric Tons,FY20 %,FY21 Metric Tons,FY21 %,FY22 Metric Tons,FY22 %
1,Total Polyester Use,195490,NaN,166343,NaN,180645,NaN
5,Total Cotton Use,113615,NaN,115543,NaN,142113,NaN
7,Total Rubber Use,76141,NaN,78896,NaN,94494,NaN
9,Total EVA Foam Use,61053,NaN,53055,NaN,44523,NaN
12,Total Leather Use,51646,NaN,60502,NaN,65870,NaN

In [6]:
nike_totals.drop(['FY20 %', 'FY21 %', 'FY22 %'], axis=1, inplace=True)

/var/folders/p8/tf6kcfpn4z9gn1_6rjv2qlp00000gn/T/ipykernel_52500/2206599740.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nike_totals.drop(['FY20 %', 'FY21 %', 'FY22 %'], axis=1, inplace=True)

In [7]:
nike_totals

               Material  FY20 Metric Tons  FY21 Metric Tons  FY22 Metric Tons
1   Total Polyester Use            195490            166343            180645
5      Total Cotton Use            113615            115543            142113
7      Total Rubber Use             76141             78896             94494
9    Total EVA Foam Use             61053             53055             44523
12    Total Leather Use             51646             60502             65870

In [8]:
column_sums = nike_totals[['FY20 Metric Tons','FY21 Metric Tons','FY22 Metric Tons']].sum()
print(column_sums)

FY20 Metric Tons    497945
FY21 Metric Tons    474339
FY22 Metric Tons    527645
dtype: int64